@import "../../responsive.scss";

.container {
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    gap: 1rem;

    @include Responsive(md) {
    }
}